.div-color{
    background-color: aquamarine;
    text-align: center;
}
.div-encabezado{
    background-color: brown;
    text-align: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.frm{
    text-align: center;
}